openapi: 3.0.2
info:
  title: RoboCupMS - Auth API
  description: API slouží pro přihlášení, odhlášení a registraci uživatelů.
  version: 2.0.0
  contact:
    email: m1_krcma@utb.cz
servers:
  - url: https://iob04.vas-server.cz:8080/auth
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
paths:
  /login:
    post:
      summary: Přihlásí uživatele do systému
      description:
        Uživatel, který se chce přihlásit do systému odešle svůj email a heslo. Pokud jsou přihlašovací údaje platné tak vygeneruje přistupový token.
        Token je platný do doby dokud se uživatel znovu nepřihlásí z jíného zařízení nebo se neodhlásí.
        Token se stavá automaticky neplatným po uplynutí definovaneho casu.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        "200":
          description: Uživatel je přihlášen a získá přistupový token. V opačném připádě je typ odpovědi "ERROR"
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    format: uuid

  /oAuth2:
    get:
      summary: Vygeneruje odkaz pro autorizaci uživatele
      description:
        Vygeneruje odkaz pro autorizaci uživatele. Po uspěšné autorizaci je uživatel
        přesměrován na specifikovanou adresu. Zde musí být
        odeslán POST request na endpoint serveru "/auth/oAuth2GenerateToken" s
        parametrem "code" a "redirectURI" jejihž hodnutu získá z aktualní URL. "redirectURI" bude předán parametrem "state".
      parameters:
        - in: query
          name: redirectURI
          required: false
          description: URL andresa, na kterou bude uživatel přesmerovan z autorizacniho serveru. (default https://localhost/auth/oauth2/code)
          schema:
            type: integer
      responses:
        "200":
          description: URL odkaz pro autorizaci uzivatele pomoci oAuth2
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    format: url
                    example: https://accounts.google.com/o/oauth2/v2/auth?scope=https://www.googleapis.com/auth/userinfo.profile&access_type=offline&include_granted_scopes=true&response_type=code&state=state_parameter_passthrough_value&redirect_uri=https://localhost/auth/oauth2/code&client_id=XX

  /logout:
    post:
      summary: Odhlásí uživatele ze systému
      description: Pro odhlášení využije přistupový token, podle kterého určí jakého uživatele ma odhlásit. Následně se přístupový token stává neplatným.
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /oAuth2GenerateToken:
    post:
      summary: Vygeneruje přístupový token pro uživatele s využitím OAuth2 autorizačního kódu
      description: Pokud uživatel v systému neexistuje tak ho zaregistruje.
      parameters:
        - in: query
          name: redirectURI
          required: true
          description: Andresa, na kterou bude uživatel přesmerován z autorizačního serveru
          schema:
            type: integer
        - in: query
          name: code
          required: true
          description: Autorizační kód získaný po uspěšné autorizaci uživatele
          schema:
            type: integer
      responses:
        "200":
          description: Přistupový token uživatele
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    format: uuid

  /register:
    post:
      summary: Registruje nového uživatele
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                surname:
                  type: string
                email:
                  type: string
                password:
                  type: string
                birthDate:
                  type: string
              required:
                - name
                - surname
                - email
                - password
                - birthDate
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"
