openapi: 3.0.2
info:
  title: RoboCupMS - Competition API
  description: API umožňuje správu jednotlivých ročníků soutěží. Je možné vytvářet nové souteže a taktéž je zahajovat.
  version: 2.0.0
  contact:
    email: m1_krcma@utb.cz
servers:
  - url: https://iob04.vas-server.cz:8080/api/competition
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
paths:
  /all:
    get:
      summary: Navratí všechny uskutečněné a náplánované ročníky soutěží
      parameters: []
      responses:
        "200":
          description: Seznam všech ročníků soutěží
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        year:
                          type: integer
                          example: 2022
                        date:
                          type: string
                          format: date
                          example: "2022-05-20"
                        startTime:
                          type: string
                          example: "09:30:00"
                        endTime:
                          type: string
                          example: "14:00:00"
                        started:
                          type: boolean
                          example: false

  /allRegistrations:
    get:
      summary: Navratí všechny registrace týmů pro daný ročník soutěže
      parameters:
        - in: query
          name: year
          required: true
          description: Ročník soutěže
          schema:
            type: integer
      responses:
        "200":
          description: Všechny registrace týmů v dáném ročníku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        teamID:
                          type: integer
                          example: 5
                        teamName:
                          type: string
                          example: "MyTeam"
                        compatitionYear:
                          type: integer
                          example: 2022
                        category:
                          type: string
                          example: "OPEN"

  /create:
    post:
      summary: Vytvoří nový ročník soutěže
      description: Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER].
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                year:
                  type: integer
                date:
                  type: string
                  format: date
                startTime:
                  type: string
                endTime:
                  type: string
              required:
                - year
                - date
                - startTime
                - endTime
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /edit:
    put:
      summary: Upraví parametry soutěže
      description: Změny lze provést jen v případě, že soutěž ještě nezačala. Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER].
      parameters:
        - in: query
          name: id
          required: true
          description: ID soutěže
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                year:
                  type: integer
                date:
                  type: string
                  format: date
                startTime:
                  type: string
                endTime:
                  type: string
              required:
                - year
                - date
                - startTime
                - endTime
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /start:
    put:
      summary: Zahájí soutěž
      description: Po zahájení soutěže již néni možné registrovat další tým a registrovat roboty do disciplín. Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER].
      parameters:
        - in: query
          name: id
          required: true
          description: ID soutěže
          schema:
            type: integer
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /remove:
    delete:
      summary: Odstraní soutež z databáze
      description: Soutěž bude možné odstranit jen pokud ještě nebyla zahájena. Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER].
      parameters:
        - in: query
          name: id
          required: true
          description: ID soutěže
          schema:
            type: integer
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"
