openapi: 3.0.2
info:
  title: RoboCupMS - Competition Evaluation Module
  description: Tento modul usnadňuje práci s výsledky soutěže. Automatizovaně vypočítá skóre a určí umístění robotů.
  version: 2.0.0
  contact:
    email: m1_krcma@utb.cz
servers:
  - url: https://iob04.vas-server.cz:8080/module/competitionEvaluation
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
paths:
  /scoreOfAll:
    get:
      summary: Navratí skóre všech robotů, kteří soutěžili v daném ročníku
      parameters:
        - in: query
          name: year
          required: true
          description: Ročník soutěže
          schema:
            type: integer
        - in: query
          name: category
          required: true
          description: Kategorie, pro kterou zobrazí výsledky
          schema:
            type: string
      responses:
        "200":
          description: Seznam všech robotů a jejich skóre v souteži
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        score:
                          type: number
                          example: 14.5
                        category:
                          type: string
                          example: "UNIVERITY"
                        robotID:
                          type: integer
                          example: 3
                        robotName:
                          type: string
                          example: "Pan Robotek"
                        disciplindeID:
                          type: integer
                          example: 11
                        disciplindeName:
                          type: string
                          example: "Robot uklízeč"
                        teamID:
                          type: integer
                          example: 12
                        teamName:
                          type: string
                          example: MyTeam

  /scoreOfTeam:
    get:
      summary: Navratí skóre všech robotů určitého týmu
      parameters:
        - in: query
          name: year
          required: true
          description: Ročník soutěže
          schema:
            type: integer
        - in: query
          name: id
          required: true
          description: ID týmu
          schema:
            type: integer
      responses:
        "200":
          description: Seznam všech robotů a jejich skóre v soutěži
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        score:
                          type: number
                          example: 14.5
                        category:
                          type: string
                          example: "UNIVERITY"
                        robotID:
                          type: integer
                          example: 3
                        robotName:
                          type: string
                          example: "Pan Robotek"
                        disciplindeID:
                          type: integer
                          example: 11
                        disciplindeName:
                          type: string
                          example: "Robot uklízeč"
                        teamID:
                          type: integer
                          example: 12
                        teamName:
                          type: string
                          example: MyTeam

  /scoreOfRobot:
    get:
      summary: Navratí skóre jednoho konkréního robota
      parameters:
        - in: query
          name: year
          required: true
          description: Ročník soutěže
          schema:
            type: integer
        - in: query
          name: id
          required: true
          description: ID robota
          schema:
            type: integer
      responses:
        "200":
          description: Skóre robota
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: object
                    properties:
                      score:
                        type: number
                        example: 14.5
                      category:
                        type: string
                        example: "UNIVERITY"
                      robotID:
                        type: integer
                        example: 3
                      robotName:
                        type: string
                        example: "Pan Robotek"
                      disciplindeID:
                        type: integer
                        example: 11
                      disciplindeName:
                        type: string
                        example: "Robot uklízeč"
                      teamID:
                          type: integer
                          example: 12
                      teamName:
                          type: string
                          example: MyTeam

  /getOrder:
    get:
      summary: Navratí umístění robotů v konkrétní disciplíně v rámci soutěžní kategorie.
      parameters:
        - in: query
          name: year
          required: true
          description: Ročník soutěže
          schema:
            type: integer
        - in: query
          name: category
          required: true
          description: Kategorie, pro kterou zobrazí výsledky
          schema:
            type: string
        - in: query
          name: id
          required: true
          description: ID soutěžní disciplíny, pro kterou zobrazí výsledky
          schema:
            type: integer
      responses:
        "200":
          description: Pořadí všech robotů, kteří soutěžili v dané disciplíně
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        place:
                          type: integer
                          example: 1
                        data:
                          type: object
                          properties:
                            score:
                              type: number
                              example: 14.5
                            category:
                              type: string
                              example: "UNIVERITY"
                            robotID:
                              type: integer
                              example: 3
                            robotName:
                              type: string
                              example: "Pan Robotek"
                            disciplindeID:
                              type: integer
                              example: 11
                            disciplindeName:
                              type: string
                              example: "Robot uklízeč"
                            teamID:
                              type: integer
                              example: 12
                            teamName:
                              type: string
                              example: MyTeam
