openapi: 3.0.2
info:
  title: RoboCupMS - Discipline API
  description: API slouží pro správu soutěžních disciplín.
  version: 2.0.0
  contact:
    email: m1_krcma@utb.cz
servers:
  - url: https://iob04.vas-server.cz:8080/api/discipline
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
paths:
  /get:
    get:
      summary: Navratí disciplinu s konkrétním ID
      parameters:
        - in: query
          name: id
          required: true
          description: ID disciplíny
          schema:
            type: integer
      responses:
        "200":
          description: Disciplína
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: "Sledovač čáry"
                      scoreAggregation:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 4
                          name:
                            type: string
                            example: "MIN"
                      description:
                        type: string
                        example: "Popis discipliny"
                      time:
                        type: integer
                        example: 180
                      maxRounds:
                        type: integer
                        example: -1

  /all:
    get:
      summary: Navratí všechný vytvořené disciplíny
      parameters: []
      responses:
        "200":
          description: Robot
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: "Sledovač čáry"
                        scoreAggregation:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 4
                            name:
                              type: string
                              example: "MIN"
                        description:
                          type: string
                          example: "Popis discipliny"

  /create:
    post:
      summary: Vytvoří novou disciplínu
      description: Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER].
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Nazev nové discipliny
                description:
                  type: string
                  description: Popis nové discipliny
                scoreAggregation:
                  type: string
                  description: Název agregáční funkce skóre (pro automatizované vyhodnocení). MIN, MAX, SUM 
                time:
                  type: string
                  description: Časový limit jednoho zápasu
                maxRounds:
                  type: integer
                  description: Omezení počtů zápasů, odehraných robotem v této disciplině
              required:
                - name
                - description
                - scoreAggregation
                - time
                - maxRounds

      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /edit:
    put:
      summary: Upravi disciplínu
      description: Umožnuje upravit jméno, popis nebo typ agregační funkce skóre. Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER].
      parameters:
        - in: query
          name: id
          required: true
          description: ID disciplíny, která má být upravena
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Nový název discipliny
                description:
                  type: string
                  description: Nový popis discipliny
                scoreAggregation:
                  type: string
                  description: Nový název agregáční funkce skóre (pro automatizované vyhodnocení). MIN, MAX, SUM 
                time:
                  type: string
                  description: Nový časový limit jednoho zápasu
                maxRounds:
                  type: integer
                  description: Nové omezení počtů zápasů, odehraných robotem v této disciplině
              required:
                - name
                - description
                - scoreAggregation
                - time
                - maxRounds

      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /remove:
    delete:
      summary: Odstraní disciplínu
      description: Disciplínu nebude možne odstranit pokud ma přiřazené nějaké hřiště. Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER].
      parameters:
        - in: query
          name: id
          required: true
          description: ID disciplíny, která bude odstraněna
          schema:
            type: integer
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"
