openapi: 3.0.2
info:
  title: RoboCupMS - Match API
  description: API zajištuje správů zápasů.
  version: 2.0.0
  contact:
    email: m1_krcma@utb.cz
servers:
  - url: https://iob04.vas-server.cz:8080/api/match
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
paths:
  /all:
    get:
      summary: Navratí všechny zápasy
      parameters: []
      responses:
        "200":
          description: Seznam všech zápasů
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        state:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 3
                            name:
                              type: string
                              example: "WAITING"
                        score:
                          type: number
                          example: 12.5
                        groupID:
                          type: integer
                          example: 2
                        teamID:
                          type: integer
                          example: 10
                        robotID:
                          type: integer
                          example: 3
                        robotNumber:
                          type: integer
                          example: 56
                        robotName:
                          type: string
                          example: "Robot"
                        playgroundID:
                          type: integer
                          example: 9

  /allByYear:
    get:
      summary: Navratí všechny zápasy pro konkrétní ročník soutěže
      parameters:
        - in: query
          name: year
          required: true
          description: Ročník soutěže
          schema:
            type: integer
      responses:
        "200":
          description: Seznam všech zápasů v dáném ročníku soutěže
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        state:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 3
                            name:
                              type: string
                              example: "WAITING"
                        score:
                          type: number
                          example: 12.5
                        groupID:
                          type: integer
                          example: 2
                        teamID:
                          type: integer
                          example: 10
                        robotID:
                          type: integer
                          example: 3
                        robotNumber:
                          type: integer
                          example: 56
                        robotName:
                          type: string
                          example: "Robot"
                        playgroundID:
                          type: integer
                          example: 9

  /create:
    post:
      summary: Naplánuje nový zápas
      description: Vytvořený zápas je automaticky nastaven do stavu "čeká na odehrání". U skupinového zápasu je nutné zápas naplánovat pro každého robota skupiny (všichni budou mít stejné ID skupiny). Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER, REFEREE].
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                robotID:
                  type: integer
                  description: ID robota, který bude zápasit
                playgroundID:
                  type: integer
                  description: ID hřiště, na kterém se bude hrát
                groupID:
                  type: integer
                  description: ID zápasové skupiny. Jen v případě pokud zápasí proti
                    sobě více robotů. V opačném případě zadat
                    zápornou (neplatnou) hodnotu.
              required:
                - robotID
                - description
                - scoreAggregation
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /writeScore:
    put:
      summary: Zapíše výsledné skóre zápasu
      description:
        Zapíše skóre zápasu a automaticky označí zápas jako odehraný. Skoré je typu "float" a může reprezentovat více typů hodnot.
        Pokud jde o robosumo, skóre je reprezentováno jako bod za vítězství v zápase. Pokud jde o sledovače čáry, skóre je reprezentováno jako čas, za který robot ujel trasu.
      parameters:
        - in: query
          name: id
          required: true
          description: ID zápasu
          schema:
            type: integer
        - in: query
          name: score
          required: true
          description: Skóre zápasu
          schema:
            type: number
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /rematch:
    put:
      summary: Vyžádá opětovné odehrání zápasu
      description: V případě skupinového zápasu je požadavek automaticky vyžádán i pro ostatní zápasy jednotlivých robotů skupiny. Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER, REFEREE].
      parameters:
        - in: query
          name: id
          required: true
          description: ID zápasu
          schema:
            type: integer
        - in: query
          name: score
          required: true
          description: Skóre zápasu
          schema:
            type: number
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /remove:
    delete:
      summary: Odstraní zápas
      description: Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER, REFEREE].
      parameters:
        - in: query
          name: id
          required: true
          description: ID zápasu
          schema:
            type: integer
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /removeAll:
    delete:
      summary: Odstraní všechny zápasy, které náleží do určité zápasové skupiny
      description: Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER, REFEREE].
      parameters:
        - in: query
          name: id
          required: true
          description: ID zápasové skupiny
          schema:
            type: integer
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"
