openapi: 3.0.2
info:
  title: RoboCupMS - Match Group API
  description: API sloužící pro správu zápasových skupin.
  version: 2.0.0
  contact:
    email: m1_krcma@utb.cz
servers:
  - url: https://iob04.vas-server.cz:8080/api/group
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
paths:
  /getByID:
    get:
      summary: Navratí zápasovou skupinu s konkretním ID
      parameters:
        - in: query
          name: id
          required: true
          description: ID zápasové skupiny
          schema:
            type: integer
      responses:
        "200":
          description: Zápasová skupina
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      creatorIdentifier:
                        type: integer
                        example: 4362329924453436

  /getByCID:
    get:
      summary: Navrtí všechny zápasové skupiny pro specifikovaný identifikator tvůrce skupiny
      parameters: 
        - in: query
          name: creatorID
          required: true
          description: Identifikátor tvůrce skupiny
          schema:
            type: integer
      responses:
        "200":
          description: Seznam všech zápasových skupin, které mají stejný ID tvůrce
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        creatorIdentifier:
                          type: integer
                          example: 4362329924453436

  /all:
    get:
      summary: Navratí všechny zápasevé skupiny
      parameters: []
      responses:
        "200":
          description: Seznam všech zápasovych skupin
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        creatorIdentifier:
                          type: integer
                          example: 4362329924453436

  /create:
    post:
      summary: Vytvoří novou zápasovou skupinu
      description: Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER, REFEREE].
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                creatorID:
                  type: integer
                  description: Identifikátor tvůrce skupiny
              required:
                - creatorID
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /remove:
    delete:
      summary: Odstraní zápasovou skupinu
      description: Při mazání zapasové skupiny i automaticky odstraní jeji zápasy. Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER, REFEREE].
      parameters:
        - in: query
          name: id
          required: true
          description: ID zápasové skupiny
          schema:
            type: integer
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /removeAll:
    delete:
      summary: Odstraní všechny skupiny s odpovídajícím ID tvůrce skupiny
      description: Při mazání každé zapasové skupiny i automaticky odstraní jeji zápasy. Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER, REFEREE].
      parameters:
        - in: query
          name: creatorid
          required: true
          description: Identifikátor tvůrce skupiny
          schema:
            type: integer
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"
