openapi: 3.0.2
info:
  title: RoboCupMS - Order Management Module
  description: Tento modul umožnuje řízení a správů pořadí zápasů. Modul dokáže zobrazovat zápasy, které mají být v daný okamžik odehráné. Zápasy, které čekají na odehrání, jsou automaticky řazeny do front jednotlivých hřišť. Rozhodčí mají možnost měnit v jakém pořádí májí být zápasy odehrávány. Modul taktéž umožnuje jednoduché plánování "generování" zápasů.
  version: 2.0.0
  contact:
    email: m1_krcma@utb.cz
servers:
  - url: https://iob04.vas-server.cz:8080/module/orderManagement
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
paths:
  /currentMatches:
    get:
      summary: Navratí seznam všech zápasů, které mají být nyní odehrány na příslušných hříštích
      parameters: []
      responses:
        "200":
          description: Seznam robotů, které se mají dostavit na přislušné hřiště pro odehrání zápasu
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        state:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 3
                            name:
                              type: string
                              example: "WAITING"
                        score:
                          type: number
                          example: 12.5
                        groupID:
                          type: integer
                          example: 2
                        teamID:
                          type: integer
                          example: 10
                        robotID:
                          type: integer
                          example: 3
                        robotNumber:
                          type: integer
                          example: 56
                        robotName:
                          type: string
                          example: "Robot"
                        playgroundID:
                          type: integer
                          example: 9

  /upcommingMatches:
    get:
      summary: Navratí pro robota seznam všech nadcházejících zápasů
      parameters:
        - in: query
          name: id
          required: true
          description: ID robota
          schema:
            type: integer
      responses:
        "200":
          description: Seznam zápasů, které jsou už náplánované pro daného robota
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        state:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 3
                            name:
                              type: string
                              example: "WAITING"
                        score:
                          type: number
                          example: 12.5
                        groupID:
                          type: integer
                          example: 2
                        teamID:
                          type: integer
                          example: 10
                        robotID:
                          type: integer
                          example: 3
                        robotNumber:
                          type: integer
                          example: 56
                        robotName:
                          type: string
                          example: "Robot"
                        playgroundID:
                          type: integer
                          example: 9

  /isRunning:
    get:
      summary: Návrátí informaci o tom zda je modul spuštěn
      description: Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER, ASSISTANT, REFEREE].
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /generateMatches:
    post:
      summary: Vygeneruje skupinové zápasy "každý s každým" (robo sumo, robo strong, ...)
      description: Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER, REFEREE].
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                year:
                  type: integer
                  description: Ročník soutěže
                robots:
                  type: array
                  items:
                    type: integer
                  description: List s ID všech robotu, pro které se zápasy budou generovat
                playgroundID:
                  type: integer
                  description: ID hřiště, na kterém se zápasy budou hrát
              required:
                - year
                - robots
                - playgroundID
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /run:
    put:
      summary: Spustí modul řízéní pořadí. Modul bude možné spustit jen pro soutěž, která byla již zahájena.
      description: Automaticky po spuštění se pro káždé hřiště vygeneruje fronta zápasů čekajících na odehrání. Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER, ASSISTANT].
      parameters:
        - in: query
          name: year
          required: true
          description: Ročník soutěže
          schema:
            type: integer
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /requestRefresh:
    put:
      summary: Vyžádá refresh tohoto systemu (pokud dojde k zamrznutí)
      description: Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER, ASSISTANT].
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /requestAnotherMatch:
    put:
      summary: Vyžádá změnu pořadí zapasů ve frontě hřiště
      description: Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER, REFEREE].
      parameters:
        - in: query
          name: id
          required: true
          description:
            ID zápasu, o kterém rozhodčí rozhodne, aby byl odehrán v dánou chvíli. Zápas s tímto ID bude přesunut na první místo ve frontě.
          schema:
            type: integer
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"
