openapi: 3.0.2
info:
  title: RoboCupMS - Playground API
  description: API sloužící pro správu soutěžních hřišť.
  version: 2.0.0
  contact:
    email: m1_krcma@utb.cz
servers:
  - url: https://iob04.vas-server.cz:8080/api/playground
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
paths:

  /get:
    get:
      summary: Navratí všechny hřište pro určitou disciplínu
      parameters:
        - in: query
          name: id
          required: true
          description: ID disciplíny
          schema:
            type: string
      responses:
        "200":
          description: Seznam všech soutežních hřišt pro určitou disciplínu
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: "Sumo hřiště"
                        number:
                          type: integer
                          example: 13
                        disciplineID:
                          type: integer
                          example: 11
                        disciplineName:
                          type: string
                          example: "Robosumo"

  /all:
    get:
      summary: Navratí všechný hřiště
      parameters: []
      responses:
        "200":
          description: Seznam všech soutěžních hřišť
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: "Sumo hřiště"
                        number:
                          type: integer
                          example: 13
                        disciplineID:
                          type: integer
                          example: 11
                        disciplineName:
                          type: string
                          example: "Robosumo"

  /getMatches:
    get:
      summary: Navratí všechny zápasy odehrané na konkrétním hřišti
      parameters: 
        - in: query
          name: id
          required: true
          description: ID hřišti
          schema:
            type: string
      responses:
        "200":
          description: Seznam odehraných zápasů
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        state:
                          type: object
                          properties:
                            id: 
                              type: integer
                              example: 3
                            name: 
                              type: string
                              example: "WAITING"
                        score:
                          type: number
                          example: 12.5
                        groupID:
                          type: integer
                          example: 2
                        teamID:
                          type: integer
                          example: 10
                        robotID:
                          type: integer
                          example: 3
                        robotNumber:
                          type: integer
                          example: 56
                        robotName:
                          type: string
                          example: "Robot"
                        playgroundID:
                          type: integer
                          example: 9

  /create:
    post:
      summary: Vytvoří nové soutěžní hřiště
      description: Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER, ASSISTANT].
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Jménpo hřiště
                number:
                  type: integer
                  description: Identifikační čislo hřiště (unikátní v rámci ročníku soutěže)
                disciplineID:
                  type: integer
                  description: ID disciplíny, pro které bude nově vytvořené hřiště určené
              required:
                - name
                - number
                - disciplineID
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /edit:
    put:
      summary: Upraví parametry soutěžního hřiště
      description: Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER, ASSISTANT].
      parameters:
        - in: query
          name: id
          required: true
          description: ID discipliny, která má být upravena
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Nové jméno hřiště
                number:
                  type: integer
                  description: Nové identifikační čislo hřiště (unikátní v rámci ročníku soutěže)
                disciplineID:
                  type: integer
                  description: Nové ID disciplíny, pro které bude hřiště určené
              required:
                - name
                - number
                - disciplineID
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /remove:
    delete:
      summary: Odstraní soutěžní hřiště
      description: Hřiště je možné odstranit jen pokud na něm nebyl odehrán žádný zápas. Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER, ASSISTANT].
      parameters:
        - in: query
          name: id
          required: true
          description: ID hřiště, které chceme odstranit
          schema:
            type: integer
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"
