openapi: 3.0.2
info:
  title: RoboCupMS - Team API
  description: API sloužící pro správu týmů na serveru. Jednotlivé týmy se pak přihlašuji do konkrétních ročníků soutěže.
  version: 2.0.0
  contact:
    email: m1_krcma@utb.cz
servers:
  - url: https://iob04.vas-server.cz:8080/api/team
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
paths:
  /myTeam:
    get:
      summary: Navrátí informace o týmu, ve kterém se přihlášený uživatel nachází
      parameters: []
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Tým, ve kterém se přihlášený uživatel nachází
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 11
                      name:
                        type: string
                        example: "MyTeam"
                      memberNames:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            surname:
                              type: string
                      leaderID:
                        type: integer
                        example: 1
                      registrationYears:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            year:
                              type: integer

  /findByID:
    get:
      summary: Navrátí informace o týmu s konkrétním ID
      parameters:
        - in: query
          name: id
          required: true
          description: ID týmu
          schema:
            type: integer
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Hledaný tým
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 11
                      name:
                        type: string
                        example: "MyTeam"
                      membersID:
                        type: array
                        items:
                          type: integer
                        example: [1, 3]
                      leaderID:
                        type: integer
                        example: 1
                      registrationsID:
                        type: array
                        items:
                          type: integer
                        example: [10, 34]

  /findByName:
    get:
      summary: Navrátí informace o týmu s konkrétním jménem
      parameters:
        - in: query
          name: name
          required: true
          description: Jméno týmu
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Hledaný tým
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 11
                      name:
                        type: string
                        example: "MyTeam"
                      membersID:
                        type: array
                        items:
                          type: integer
                        example: [1, 3]
                      leaderID:
                        type: integer
                        example: 1
                      registrationsID:
                        type: array
                        items:
                          type: integer
                        example: [10, 34]

  /all:
    get:
      summary: Navrátí vsechný týmy, kterou jsou v systému vytvořeny
      parameters: []
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Seznam vsech týmu
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 11
                        name:
                          type: string
                          example: "MyTeam"
                        membersID:
                          type: array
                          items:
                            type: integer
                          example: [1, 3]
                        leaderID:
                          type: integer
                          example: 1
                        registrationsID:
                          type: array
                          items:
                            type: integer
                          example: [10, 34]

  /create:
    post:
      summary: Vytvoří nový tým
      description: Uživatel, který vytváří tým se stává jeho vedoucím. Uživatel může byt jen v jednom tým. Tým muže vytvořit jen v případě, že se v žádnem nenachází.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Jméno nového týmu (unikátní)
              required:
                - name
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /rename:
    put:
      summary: Změní jméno týmu
      description: Přejmenovat tým může jen jeho vedoucí
      parameters:
        - in: query
          name: name
          required: true
          description: Nové jméno týmu (unikátní)
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /addMember:
    put:
      summary: Přidá nového člena do týmu
      description: Přidat nového člena může jen vedoucí týmu. Uživatel bude přidán jen pokud nebude v žádném týmu.
      parameters:
        - in: query
          name: uuid
          required: true
          description: UUID uživatele
          schema:
            type: string
            format: uuid
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /removeMember:
    put:
      summary: Odebere člena z týmu
      description: Odebrat člena týmu může jen vedoucí týmu.
      parameters:
        - in: query
          name: uuid
          required: true
          description: UUID uživatele
          schema:
            type: string
            format: uuid
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /leave:
    put:
      summary: Opusti tým, ve kterém se přihlášený uživatel nachází. Nový vedoucí je určen v případě kdy tým opouští jeho vedoucí.
      parameters: []
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /remove:
    delete:
      summary: Odstraní tým
      description: Tým může odstránit jen jeho vedoucí a to s tou podmínkou, že není registrovaný v soutěži, která jit začala.
      parameters:
        - in: query
          name: name
          required: true
          description: Jméno týmu
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"
