openapi: 3.0.2
info:
  title: RoboCupMS - Team Registration API
  description: API zajištuje přihlášování týmů, do konkrétních ročníků soutěže.
  version: 2.0.0
  contact:
    email: m1_krcma@utb.cz
servers:
  - url: https://iob04.vas-server.cz:8080/api/teamRegistration
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
paths:
  /all:
    get:
      summary: Navrátí všechný registrace týmu, ve kterém se přihlášený uživatel nachází
      parameters: []
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Všechný registrace týmu
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        teamID:
                          type: integer
                          example: 5
                        teamName:
                          type: string
                          example: "MyTeam"
                        compatitionYear:
                          type: integer
                          example: 2022
                        category:
                          type: string
                          example: "OPEN"

  /register:
    post:
      summary: Registruje tým do soutěže
      description:
        Registrovat tým může pouze vedoucí týmu. System automaticky přiřadí tým do kategorie (podle věku členů týmu).
        Kategorie je volena podle nejstaršího člena týmu. Registrovat tým je možne jen v případě, že daný ročník soutěže ještě nezačal.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                year:
                  type: integer
                  description: Ročník soutěže, do kterého se tým chce registrovat
                open:
                  type: integer
                  description: Pokud je nastaven na "true", automaticky tým přihlásí do kategorie OPEN
              required:
                - year
                - open
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /changeCategory:
    put:
      summary: Změní kategorii týmu
      description: Změní kategorii týmu. Změna neni nijak omezována věkem a tak je možné zvolit libovolnou kategorii. Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER, ASSISTANT].
      parameters:
        - in: query
          name: id
          required: true
          description: ID týmu
          schema:
            type: integer
        - in: query
          name: year
          required: true
          description: Ročník soutěže
          schema:
            type: integer
        - in: query
          name: category
          required: true
          description: Nová kategorie, ve které bude tým soutežit
          schema:
            type: string

      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /joinCategory:
    put:
      summary: Sloučí dvě různé kategorie dohromady
      description: Všechny týmy registrované v jedné kategorii se přesunou do jiné zvolené kategorie. Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER].
      parameters:
        - in: query
          name: year
          required: true
          description: Ročník soutěže
          schema:
            type: integer
        - in: query
          name: category
          required: true
          description: Kategorie týmu, které se budou přesouvat do jiné
          schema:
            type: string
            enum: ["ELEMENTARY_SCHOOL", "HIGH_SCHOOL", "UNIVERSITY", "OPEN"]
        - in: query
          name: newCategory
          required: true
          description: Kategorie, do které se týmy přesunou
          schema:
            type: string
            enum: ["ELEMENTARY_SCHOOL", "HIGH_SCHOOL", "UNIVERSITY", "OPEN"]

      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /unregister:
    delete:
      summary: Zruší registraci týmu
      description: Zrušit registraci tým může pouze vedoucí týmu. Zrušení nebude možne v případě, že soutěž již začala.
      parameters:
        - in: query
          name: year
          required: true
          description: Ročník soutěže, pro který tým ruší registraci
          schema:
            type: integer
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"
