openapi: 3.0.2
info:
  title: RoboCupMS - User API
  description: API slouží pro správů uživatelů na serveru. Umožnuje zakladní operace (informace o uživateli, vyhledavání, modifikace, odstranění). 
    Uživatel může mít tyto role [ADMIN, LEADER, ASSISTANT, REFEREE, COMPETITOR].
  version: 2.0.0
  contact:
    email: m1_krcma@utb.cz
servers:
  - url: https://iob04.vas-server.cz:8080/api/user
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
paths:
  /info:
    get:
      summary: Navrátí všechny dostupné informace o uživateli
      description: Podle přistupového tokenu najde v databázi, kterému přihlášenému uživateli patří a informace o něm navrátí.
      parameters: []
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Informace o přihlášeném uživateli
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 11
                      uuid:
                        type: string
                        format: uuid
                      name:
                        type: string
                        example: "Martin"
                      surname:
                        type: string
                        example: "Krčma"
                      email:
                        type: string
                        format: email
                        example: "m1_krcma@utb.cz"
                      birtDate:
                        type: string
                        format: date
                        example: "1999-10-17"
                      roles:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 0
                            name:
                              type: string
                              example: "ADMIN"
                      teamID:
                        type: integer
                        example: 4

  /all:
    get:
      summary: Navrátí všechny dostupné informace o všech uživatelích
      description: Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER, ASSISTANT]
      parameters: []
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Seznam s informacemi o všech uživatelích v databázi
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 11
                        uuid:
                          type: string
                          format: uuid
                        name:
                          type: string
                          example: "Martin"
                        surname:
                          type: string
                          example: "Krčma"
                        email:
                          type: string
                          format: email
                          example: "m1_krcma@utb.cz"
                        birtDate:
                          type: string
                          format: date
                          example: "1999-10-17"
                        roles:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 0
                              name:
                                type: string
                                example: "ADMIN"
                        teamID:
                          type: integer
                          example: 4

  /getByID:
    get:
      summary: Navrátí všechny dostupné informace o uživateli s konkrétním ID
      description: Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER, ASSISTANT]
      parameters:
        - in: query
          name: id
          required: true
          description: ID uživatele
          schema:
            type: integer
            example: 1
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Informace o uživateli s konkrétním ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 11
                        uuid:
                          type: string
                          format: uuid
                        name:
                          type: string
                          example: "Martin"
                        surname:
                          type: string
                          example: "Krčma"
                        email:
                          type: string
                          format: email
                          example: "m1_krcma@utb.cz"
                        birtDate:
                          type: string
                          format: date
                          example: "1999-10-17"
                        roles:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 0
                              name:
                                type: string
                                example: "ADMIN"
                        teamID:
                          type: integer
                          example: 4

  /getByEmail:
    get:
      summary: Navrátí všechny dostupné informace o uživateli s konkrétním emailem
      description: Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER, ASSISTANT]
      parameters:
        - in: query
          name: email
          required: true
          description: Email uživatele
          schema:
            type: string
            example: user123@email.com
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Informace o uživateli s konkrétním emailem
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 11
                        uuid:
                          type: string
                          format: uuid
                        name:
                          type: string
                          example: "Martin"
                        surname:
                          type: string
                          example: "Krčma"
                        email:
                          type: string
                          format: email
                          example: "m1_krcma@utb.cz"
                        birtDate:
                          type: string
                          format: date
                          example: "1999-10-17"
                        roles:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 0
                              name:
                                type: string
                                example: "ADMIN"
                        teamID:
                          type: integer
                          example: 4

  /add:
    post:
      summary: Přidá nového uživatele do databáze
      description: Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                surname:
                  type: string
                email:
                  type: string
                password:
                  type: string
                birthDate:
                  type: string
              required:
                - name
                - surname
                - email
                - password
                - birthDate
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /edit:
    put:
      summary: Umožní editovat údaje přihlášeného uživatele
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                surname:
                  type: string
                birthDate:
                  type: string
              required:
                - name
                - surname
                - password
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /changePassword:
    put:
      summary: Změna uživatelského hesla
      parameters:
        - in: query
          name: currentPassword
          required: true
          description: Aktuální uživatelské heslo
          schema:
            type: string
        - in: query
          name: newPassword
          required: true
          description: Nové uživatelské heslo
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /setPassword:
    put:
      summary: Nastaví uživateli nové heslo
      description: Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER]
      parameters:
        - in: query
          name: newPassword
          required: true
          description: Nové uživatelské heslo
          schema:
            type: string
        - in: query
          name: id
          required: true
          description: ID uživatele, pro kterého chceme heslo vygenerovat
          schema:
            type: integer
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /addRole:
    put:
      summary: Přiřadí uživateli roli
      description: Mají přístup jen uživatelé s touto rolí [ADMIN]
      parameters:
        - in: query
          name: role
          required: true
          description: Uživateska role, která bude uživateli přidělena
          schema:
            type: string
            enum: ["COMPETITOR", "ADMIN", "LEADER", "ASSISTANT", "REFEREE"]
        - in: query
          name: id
          required: true
          description: ID uživatele
          schema:
            type: integer
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /removeRole:
    put:
      summary: Odebere uživateli zvolenou roli
      description: Mají přístup jen uživatelé s touto rolí [ADMIN]
      parameters:
        - in: query
          name: role
          required: true
          description: Uživateska role, která bude uživateli odebrána
          schema:
            type: string
            enum: ["COMPETITOR", "ADMIN", "LEADER", "ASSISTANT", "REFEREE"]
        - in: query
          name: id
          required: true
          description: ID uživatele
          schema:
            type: integer
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /remove:
    delete:
      summary: Změní atributy uživatele s konktretním ID
      description: Mají přístup jen uživatelé s touto rolí [ADMIN, LEADER]
      parameters:
        - in: query
          name: id
          required: true
          description: ID uživatele
          schema:
            type: integer
            example: 1
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"
